input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.5;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    opacity: 0.5;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    opacity: 0.5;
}

.text-center {
    text-align: center !important;
}

.hidden-div {
    display: none;
}

.button-delete {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.button-plus {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.pointer-input {
    margin-top: 1rem;
    width: 20rem;
}

.probability-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.probability-input > input {
    width: 3.5rem;
    margin-right: 0.5rem;
}

.div-options-buttons {
    width: 100%;
    text-align: end;
}

.edit-button {
    margin-top: 1rem !important;
    text-align: end;
}

.pointer-form-div {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
}

.pointer-form-div > table {
    margin: 1rem 2rem 1rem 2rem;
}

.pointer-form-div > input {
    margin: 1rem 2rem 1rem 2rem !important;
}

.callback-div {
    display: none;
}

.button-plus-footer {
    text-align: center;
}
